.open-main-div {
  display: flex;
  flex-direction: column;
}


.open-note-title {
  margin: 0;
}

.open-note-text {
  min-height: 110px;
}


/* BUTTONS */
button {
  cursor: pointer;
}

.open-buttons-div {
  border-top: solid;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button,
.delete-button,
.close-button {
  padding: 0;
  margin: 0;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
}

.delete-button {
  padding: 0;
  margin-left: 6px;
  border-radius: 50%;
  width: 35px;
}

.delete-button:hover {
  filter: invert(10%);
}


.edit-button.dark {
  filter: invert(100%);
}

.edit-button.light:hover {
  filter: invert(40%);
}

.edit-button.dark:hover {
  filter: invert(80%);
}

.close-button {
  padding: 10px 12px;
  background-color: transparent;
  color: black;
  font-size: 17px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.close-button.dark {
  color: white;
}

.close-button:hover {
  background-color: rgb(247, 247, 247);
}

.close-button.dark:hover {
  background-color: rgb(46, 46, 46);
  color: white;
}




/* EDIT FUNCTIONALITY */
.edit-div {
  display: flex;
  flex-direction: column;
}

.edit-title-bar {
  padding: 4px;
  font-size: 20px;
  outline: none;
  border: none;
  margin-bottom: 4px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-title-bar.dark,
.edit-note-area.dark {
  background-color: rgb(32, 33, 36);
  color: white;
}

.edit-note-area {
  resize: none;
  scrollbar-width: none;
  font-family: Arial;
  font-size: 16px;
  outline: none;
  border: none;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancel-button,
.edit-save-button {
  --c1: #984bf5;
  --c2: #611adc;

  padding: 0;
  min-height: none;
  color: white;
  font-size: 15px;
  border: none;
  border-width: 1px;
  border-radius: 5px;
  padding: 0px 12px;
  background-color: transparent;
  background: linear-gradient(60deg, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;
  transition: background-color 0.3s ease,
    background 0.3s ease;
}

.cancel-button:hover,
.edit-save-button:hover {
  /* background-image: linear-gradient(rgb(135, 17, 135), rgb(107, 0, 107), rgb(114, 1, 163)); */
  --x: 100%;
}