.not-pinned-notes-div,
.pinned-notes-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  margin-top: 25px;
}

.not-pinned-notes-div.noPin {
  margin-top: 0;
}

.not-pinned-notes-div.yesPin {
  margin-top: 3vh;
}

.note-div {
  flex-basis: calc(100%/4);

  border-color: rgba(0, 0, 0, 0.45);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  
  position: relative;
  
  min-width: 23vw;
  min-height: 15vh;

  transition: box-shadow 0.15s;

  animation: noteRenderAnimation;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.note-div.dark-mode {
  border-color: rgb(235, 191, 255);
}

.note-div:hover {
  box-shadow: 0px 0px 3px purple;
}
.note-div.dark-mode:hover {
  box-shadow: 0px 0px 6px rgb(255, 0, 255);
}

.note-title {
  margin-top: 0;

  overflow-wrap: break-word;
  word-wrap: break-word;
  
  max-width: 100%;
}

.note-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;  

  max-width: 100%;
}

.pin-button {
  position: absolute;
  top: 3px;
  right: 1px;
  border: none;
  background-color: transparent;
}

.notes-h3-heading {
  width: 100%;
  padding-left: 10vw;
}
.note-div:hover .pin-img {
  opacity: 0.6;
}
.pin-img {
  opacity: 0;
}
.pin-button:hover .pin-img {
  opacity: 1;
}

@keyframes noteRenderAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE RESPONSIVENESS */
/* @media (max-width: 1024px) {
  .note-div {
    flex-basis: calc(100%/2);
    min-width: 45vw;
  }
} */

/* @media (max-width: 768px) {
  .not-pinned-notes-div,
  .pinned-notes-div {
    gap: 2vw;
    margin-top: 3vh;
    padding: 0 2vw;
  }

  .note-div {
    flex-basis: 100%;
    min-width: 35vw;
    max-width: 35vw;
    min-height: 10vh;
    padding: 2vw;
  }

  .note-title {
    font-size: 4vw;
    margin-bottom: 1.5vh;
  }

  .note-text {
    font-size: 3.5vw;
  }
} */

@media (max-width: 480px) {
  .not-pinned-notes-div,
  .pinned-notes-div {
    gap: 2vw;
    margin-top: 0;
    padding: 0 2vw;
  }

  .note-div {
    flex-basis: 45%;
    min-width: 35vw;
    min-height: 18vh;
    padding: 1.5vw;
  }

  .notes-h3-heading {
    padding-left: 1vw;
  }

  .note-title {
    font-size: 3.5vw;
    margin-bottom: 1vh;
  }

  .note-text {
    font-size: 3vw;
  }
}