html, body, #root {
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  
  /* prob */
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-div.light-mode {
  background-color: white;
  color: black;
}

.main-div.dark-mode{
  background-color: black;
  color: white;
}

.theme-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(63, 63, 63);
  border: none;
  border-radius: 100px;
  padding: 0;
  padding-bottom: 2px;
  font-size: 20px;
}